.choose-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(26, 21, 21);
}

.choose-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
}

.marvel-logo{
    width: 90%;
    padding-top: 49%;
    background-image: url('../../images/Logos/Marvel-Logo.jpg');
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    background-position: center -10px;
    box-shadow: 0 10px 20px 5px #ccc;
}

.marvel-logo:hover{
    background-image: url('../../images/Logos/Marvel-Logo.gif');
}

.choose-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
}

.dc-logo{
    width: 90%;
    padding-top: 49%;
    background-image: url('../../images/Logos/DC-Logo.jpg');
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px #ccc;
}

.dc-logo:hover{
    background-image: url('../../images/Logos/DC-Logo.gif');
}

.button-vote{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-top: 20px solid red; 
    bottom: 0;
    position: absolute;
    left: 48.95%;
}