html,body
{

    overflow-x: hidden; 
}

.vote-container{
    height: 100vh;
    background-color: rgb(26, 21, 21);
}

.vote-choose{
    top: 0px;
    width: 100%;
    display: flex;
    color: aliceblue;
    margin-left: 10%;
    padding-top: 1%;
    float: left;
}

.vote-label{
    font-size: 1vw;
    
}

#myForm select{
    width: 100%;
    display: block;
    font-size: 1vw;
    margin-bottom: 4px;
}

.placements{
    height: 100%;
    color: white;
    margin-top: 1%;
    margin-left: 25%;
    flex: 0.25;
    font-size: 0.9vw;
    display: block;
    background-image: linear-gradient(to right, rgba(20, 60, 116, 0.2), 
    rgba(214, 34, 43, 0.2) 50%);
    border-radius: 2% 2% 2% 2%;
    padding-left: 20px;
}

.averagePlacements{
    display: flex;
}

.placementName{
    flex: 1;
}

.placementNumber{
    flex: 1;
    right: 0%;
    height: 1vh;
}

.button{
    width: 5vw;
    height: 5%;
    font-size: 1vw;
}

.vote-marvel, .vote-home, .vote-dc{
    width: 5%;
    height: 5%;
    position: absolute;
    color: rgb(212, 2, 12);
    text-align: center;
    font-size: 1vw;
}

.vote-marvel:hover{
    color: black;
    font-size: 1.3vw;
}

.vote-home:hover{
    color: black;
    font-size: 1.3vw;
}

.vote-dc:hover{
    color: black;
    font-size: 1.3vw;
}

.vote-marvel{
    left: 0;
    top: 0;
}

.vote-home{
    left: 50%;
    top: 0;
}

.vote-dc{
    right: 0;
    top: 0;
}

@media only screen and (max-width: 860px) {
    .button{
        font-size: 0.8vw;
    }

    .placements{
        padding-left: 5px;
    }

    .placementNumber{
        width: 1vw;
        height: 1vh;
    }
  }