html,body
{

    overflow-x: hidden; 
}

.vote-container{
    height: 100vh;
    background-color: rgb(26, 21, 21);
}

.vote-choose{
    top: 0px;
    width: 100%;
    display: flex;
    color: aliceblue;
    margin-left: 10%;
    padding-top: 1%;
    float: left;
}

.vote-label{
    font-size: 1vw;
    
}

#myForm select{
    width: 100%;
    display: block;
    font-size: 1vw;
    margin-bottom: 4px;
}

.placements{
    width: 20%;
    height: 100%;
    color: white;
    margin-left: 10%;
    font-size: 0.9vw;
    display: block;
}

.averagePlacements{
    width: 100%;
    height: 100%;
    margin-right: 20px;
    display: flex;
}

.placementName{
    flex: 1;
}

.placementNumber{
    flex: 1;
    right: 0%;
}

.button{
    width: 5vw;
    height: 5%;
    font-size: 1vw;
}

@media only screen and (max-width: 860px) {
    .button{
        font-size: 0.8vw;
    }
  }