.dc-container{
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: rgb(20, 60, 116);
}

.dc-slide{
    width: 50%;
    top: 1%;
    left: 1%;
    text-align: center;
    float: left;
}

.dc-image-container-hero{
    width: 50%;
    height: 100%;
    display: flex;
}

.dc-img-hero{
    border-radius: 2% 0 0 2%;
    max-height: 700px;
}

.dc-slide-right{
    width: 49%;
    position: absolute;
    top: 1%;
    right: 1%;
    text-align: center;
}

.dc-image-container-villain{
    width: 50%;
    height: 100%;
    display: flex;
    float: right;
}

.dc-img-villain{
    border-radius: 0 2% 2% 0;
    max-height: 700px;
}

.dc-desc-hero{
    background-image: linear-gradient(to right, rgb(20, 60, 116), 
    rgba(214, 34, 43, 0.8) 50%);
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    color: white;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    text-align-last: left;
    border-radius: 0 2% 2% 0;
    padding-right: 5%;
    padding-left: 3%;
}

.dc-desc-villain{
    background-image: linear-gradient(to left, rgb(20, 60, 116), 
    rgba(214, 34, 43, 0.8) 50%);
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    color: white;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    text-align-last: left;
    border-radius: 2% 0 0 2%;
    padding-right: 5%;
    padding-left: 3%;
}

.legend{
    z-index: 1;
}

.thumb{
    max-height: 110px;
    height: 70%;
    width: auto;
}


@media only screen and (max-width:860px){
    .dc-slide{
        width: 100%;
    }
    
    .thumbs-wrapper.axis-vertical{
        display: none;
    }

  }